{% extends "base.html "%}
{% block title %}Главная {% endblock title%}
{% block content %}
    <h1>Каталог</h1>
    {% for item in category %}
        <div class="product-item">
            <a href = "{{ item.slug }}/"><img src="{{ item.product_photo.url }}"></a>
            <div class="product-list">
                <h3><a href = "{{ item.slug }}/">{{ item.title }}</a></h3>
                <span class="price"><a>₽ {{ item.cost }}</a></span>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
