{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>FAQ - Часто задаваемые вопросы | I am Company</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Главная</a>
        <div class="dropdown">
            <button class="dropbtn"> Каталог <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                {% for items in categories %}
                    <a href = "/catalog/{{ items.slug }}/">{{ items.name }}</a>
                {% endfor %}
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn"> О нас <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href = '/FAQ/'>FAQ</a>
                <a href = '/o-razrabotchike/'>О разработчике</a>
            </div>
        </div>
    </div>

    <h1>Самые частые вопросы нам</h1>
</body>
</html>